<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <style>
        .head {
            margin-top: 60px;
        }
    
        img {
            width: 400px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container head">
        <h1>Welcome to Susilo Harjo QR Code Generator</h1>
        <p>You can choose what type of qrcode do you want to make</p>
    </div>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-6 ">
                <a href="/namecard">
                    <img alt="robot1" src="{{url_for('static', filename='img/robot 1.jpeg')}}" />
                    <h4 class="mt-1">Name card Qrcode</h4>
                </a>
            </div>
            <div class="col-6 ">
                <a href="/wificard">
                    <img alt="robot2" src="{{url_for('static', filename='img/robot 2.jpeg')}}" />
                    <h4 class="mt-1">Wifi Qrcode</h4>
                </a>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>