<!DOCTYPE html>
<html>

<head>
    <title>Qrcode</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <style>
        /* Add custom CSS to center the card on the screen */
        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        img {
            height: 250px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="center-card"> <!-- Center the card vertically and horizontally -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img alt="robot1" src="{{url_for('static', filename='img/wifi_qr.png')}}" />
                <h5 class="card-title">QR Code</h5>
                <p class="card-title">Scan and save me</p>
                <div id="qrcode"></div>
            </div>
        </div>
    </div>




</body>

</html>